.profile__container {
  padding: 10px;
  width: 350px;
  border: 1px solid black;
  display: flex;
  border-radius: 100px;
  flex-direction: column;
  align-items: center;
  color: brown;
}
.topProfile {
  margin-bottom: 40px;
}
.profile__img {
  width: 100px;
  height: 150px;
  border-radius: 50%;
}
.profile__desc {
  color: crimson;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cccccc;
}
.profile__item {
  display: flex;
  flex-direction: column;
}
.profile__item:not(:last-child) {
  margin-right: 30px;
}
